* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#videos {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: hidden;
}

.video-player {
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#user-2 {
  display: none;
}

.small-frame {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 170px;
  width: 300px;
  border-radius: 5px;
  border: 2 solid #b366f9;
  -webkit-box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.77);
  box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.77);
  z-index: 40;
}

#controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1em;
}

.control-container {
  background-color: rgb(179, 102, 249, 0.9);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

a {
  text-decoration: none;
}

#leave-btn {
  background-color: rgb(255, 80, 80, 1);
}

@media screen and (max-width: 600px) {
  .small-frame {
    height: 80px;
    width: 120px;
  }

  .control-container {
    font-size: 14px;
  }
}
